EtherCAT
commands/*.so
EtherCAT
libethercatinterface.so
c-test/tempCodeRunnerFile
c-test/print-bits
c-test/ectest
log.log
main
jamun
gm_codes/*
release/*
license.lic
license.key
updates/*
.DS_Store
/.idea/*.xml
configs/*.json
