# Copy the file to /etc/systemd/system/jamun.service
# allow jamun to start at startup
# $ sudo systemctl daemon-reload
# $ sudo systemctl enable jamun.service

[Unit]
Description=jamun-service
After=ethercat

[Service]
Environment="LD_LIBRARY_PATH=/home/pi/jamun"
Type=idle
ExecStart=/home/pi/jamun/jamun
ExecStop=/home/pi/jamun/jamun
Restart=on-failure
User=pi
Group=ftpgroup

[Install]
WantedBy=multi-user.target