<ion-view view-title="Playlist">
  <ion-content>
    <!--<div class="top1">
    <div  class="ins1">
    <img src="images/menu.png"/>  <img src="images/logo.png"/>  Single Axis Controller
    </div>


    <div class="to2">
    <ul>
    <li>
    <img src="images/info.png"/>
    </li>

    <li>
    <img src="images/date-pi.png"/> 12/08/2016
    </li>


    <li>
    <img src="images/date-pi.png"/>10:45 AM
    </li>

    </ul>



    </div>

    </div>

    <div class="panel2 ">



    <div class="s1">
    <span class="topr">
    SCREEN<br />
    </span>
    <span class="topr2">
    Program
    </span>

    </div>




    <div class="panel_light "> <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="50%" align="center" class="gn">EN</td>
        <td width="50%" align="center" class="bl">AXIS</td>
      </tr>
      <tr>
        <td align="center" valign="top" height="50px"> <img src="images/green_l.png"/></td>
        <td align="center" valign="top" > <div class="blue-a"> A </div> </td>
      </tr>

      <tr class="margin-tp10">
        <td align="center" valign="top" height="50px"> <img src="images/red_l.png"/></td>
        <td align="center" valign="top" > <div class="blue-b"> B</div> </td>
      </tr>
    </table>

    </div>
    <div class="lineblk">

    </div>

    <div class="mid_panel ">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr class="panel-min-table">

        <td width="49%">ACTUAL POSITION</td>

        <td width="2%">&nbsp; </td>
        <td width="49%">DISTANCE TO GO</td>
      </tr>
      <tr>

        <td><div class="blue-grr"> - 359.56138</div></td>
           <td>&nbsp; </td>
        <td><div class="blue-grr main-green-txt"> - 359.56138</div></td>
      </tr>
      <tr>

        <td><div class="blue-grr main-ggry-txt"> - 359.56138</div></td>
           <td>&nbsp; </td>
        <td><div class="blue-grr main-ggry-txt"> - 359.56138</div></td>
      </tr>
    </table>


    </div>





    <div class="lineblk">

    </div>


    <div class="panel_light panel_light2 "> <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="100%" align="center" class="gn">FAULT</td>

      </tr>
      <tr>
        <td align="center" valign="top" height="50px"> <img src="images/green_l.png"/></td>

      </tr>

      <tr class="margin-tp10">
        <td align="center" valign="top" height="50px">  <div class="blue-b2">  &nbsp;</div> </td>

      </tr>
    </table>

    </div>


    <div class="panel_light  "> <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="50%" align="center" class="gn moto-txt ">MOTOR</td>
        <td width="50%" align="center" class="bl moto-txt ">IO</td>
      </tr>
      <tr>
        <td align="center" valign="top" height="50px"> <img src="images/green_l.png"/></td>
        <td align="center" valign="top" > <img src="images/red_l.png"/> </td>
      </tr>

      <tr class="margin-tp10">
        <td align="center" valign="top" height="50px">  <div class="blue-b blue-bn2">  &nbsp;</div></td>
        <td align="center" valign="top" > <div class="blue-b blue-bn2">  &nbsp;</div> </td>
      </tr>
    </table>

    </div>

    <div class="panel-last">

    <input type="button" onclick="contact_captcha_chk();" value="DRIVE ALARM" class="red-btn">

    <input type="button" onclick="contact_captcha_chk();" value="ALARM / ERROR" class="red-btn">

    </div>

    <div class="clear"> </div>


    </div>


    <div class="edit_program">


    Edit Program
    </div>


    <div class="tab-section">


    <div class="tab-section75 main-able " >


    <div class="ar-tb " >
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>
     <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>
     <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>

      </tr>
      <tr>
       <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>
     <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G90 G86 TY 1292</td>
     <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/>G90 G86 TY 1292</td>

      </tr>
      <tr>
       <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>
     <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> X90</td>
     <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>

      </tr>

       <tr>
       <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>
     <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>
     <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/>X90</td>

      </tr>


      <tr>
       <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>
     <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>
     <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>

      </tr>

       <tr>
       <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> X90</td>
     <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> X90</td>
     <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> X90</td>

      </tr>

       <tr>
       <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>
     <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>
     <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>

      </tr>
       <tr>
       <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>
     <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>
     <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>

      </tr>

       <tr>
       <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>
     <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>
     <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>

      </tr> <tr>
       <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>
     <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>
     <td width="32%"> <span class="ch"> 1 </span> <img src="images/arr.png"/> G01 F500</td>

      </tr>

    </table>
    </div>


    <div class="tab-th">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><input type="button" onclick="contact_captcha_chk();" value="COPY" class="red-btn green-bt2"></td>
        <td><input type="button" onclick="contact_captcha_chk();" value="PASTE" class="red-btn bg-dlue2"></td>
        <td><input type="button" onclick="contact_captcha_chk();" value="REPLACE" class="red-btn bg-dlue2"></td>
        <td><input type="button" onclick="contact_captcha_chk();" value="INSERT" class="red-btn green-bt bg-or"></td>
        <td><input type="button" onclick="contact_captcha_chk();" value="SAVE" class="red-btn green-bt"></td>
        <td><input type="button" onclick="contact_captcha_chk();" value="DELETE" class="red-btn "></td>
      </tr>
    </table>

    </div>


    </div>

    <div class="tab-section25">

    SEARCH PROGRAM

    <input type="button" onclick="contact_captcha_chk();" value="D2" class="red-btn green-bt">

    <span class="spare-line"> </span>


    <input type="button" onclick="contact_captcha_chk();" value="reset" class="red-btn green-bt bg-dlue">


    <input type="button" onclick="contact_captcha_chk();" value="AUTO" class="red-btn green-bt bg-grr">


    <input type="button" onclick="contact_captcha_chk();" value="CANCEL" class="red-btn green-bt bg-ggn">

    </div>

    <div class="clear"> </div>


    </div>
-->    

  </ion-content>
</ion-view>
